
body {
  background-color: lightblue;
  text-align: center;
  width: 1000px;
  padding: 50px;
  margin: 100px;
}
h1{
  text-align: center;
  color: Brown ;
  font-family: Matisse ITC;
  font-size: 60px;
}
h2{
  text-align: center;
  color: brown;
  font-size: 40px;
}

p{
  font-size: large;
}
ul{
  list-style-type: square;
  font-size: larger;
}

a:link{
  text-decoration: underline;
  font-size: larger;
}
